body{
    font-family: 'PT Sans', sans-serif;
}
.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}

.brush{
    fill: darkgrey;
    fill-opacity: .5;
    pointer-events: none;
}

svg {
    display: block;
}

.well {
    text-align: left;
}

#areaGraph {
    width: 600px;
    height: 350px;
}

#barGraph {
    width: 600px;
    height: 350px;
}

#sunBurst {
    width: 350px;
    height: 400px;
}

#mapPlot {
    width: 650px;
    height: 400px;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}